<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">

<head>
	<meta charset = utf-8>
	
	<link href="/css/bootstrap.min.css" rel="stylesheet" >
    <script src="/js/bootstrap.bundle.min.js" ></script>
	
</head>


<body>

	<div class = "container">

	<h2>Gestor de tarefas</h2>

	<form action="/adicionar" method = "post">
		<label for="fname">Nome da tarefa:</label><br> <input type="text"
			id="nomeTarefa" name="nomeTarefa"> <input type="submit"
			value="Adicionar">
	</form>

	<table class="table table-striped mt-3">
		<tr>
			<th>Nome Tarefa</th>
			<th>Status</th>
			<th>Data início</th>
			<th>Data fim</th>
		</tr>
		<tr th:each = "tarefa : ${tarefas}">
			<td th:text="${tarefa.nomeTarefa}"></td>
			<td th:text="${tarefa.status}">Aberta</td>
			<td th:text="${tarefa.dataInicio}">12/03/2014</td>
			<td>--/--/----</td>
		</tr>
		
		 
	</table>

	</div>

</body>
</html>